body{
    text-align: center;   
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2;
    

}


/* container section */

.container-fluid{
    padding: 7% 25%;
    
}

#aboutMe .container-fluid{
    padding: 7% 30%;
    
}

#contactMe .container-fluid{
    padding: 7% 30%;
    
}



nav .container-fluid{
    padding: 0 7%;
    text-align: right;
}

#footer .container-fluid{
    padding: 3% 15%;
}

h1, h2, h3, h4, h5, h6{
    font-family:Arial;
    font-weight:bold;

}

h2{
    font-size: 2.5rem;
    font-weight: bold;

}

h3{
    font-weight: bold;
    font-size: 1.5rem;
}
.big-heading{
    font-size: 4rem;
    font-weight: bold;
    color: white;

}

p{
    font-size: 1.2rem;
}

.title .med-heading{
    font-size: 2rem;
    color: white;
    font-weight:normal;

}
.med-heading{
    font-size: 2.5rem;
    color: white;

}

.sml-heading{
    font-size: 2rem;
    color: white;

}


.navbar{
    transition: 1s;

}

.nav-item{
    font-size: 1.1rem;

}
.navbar-brand{
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}


.blackNav{
    background-color: #0a1c21;
}

.ligthSection
{
    color: #0a1c21;

}

.darkSection{
    color:#fff;
}


/* home section */

#home{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url('../images/bg.png');   
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 100vh;

}



.title{
    padding:20%;
}


/* About Me section */


.profilePic{
    width: 200px;
    border-radius: 50%;
    margin: 3%;
}



/* Skills Section */

#skills{
    background-color: #102930;
    color: white;
     
}


#skills h3{
    color: #fff;
    
    
}


#skills p{
    color: #9e9ea8;
        

}
.skill-row {
    position: relative;
    text-align: left;
    padding: 5% 0;
 

}

.skill1{
    width: 200px;
    float: left;
    margin-right: 20px;
    border-radius: 15%;

}

.skill2{
    width: 200px;
    float: right;
    margin-left: 20px;
    border-radius: 15%;
    
}



/* Contact Section */

.btn{
    background-color: #47476e;
    color: white;
    padding: 15px;
    text-decoration: none;
    position: relative;
    font-weight: bold;
}

.btn:hover{
    background-color: white;
    border: solid #47476e 1px;
    color: #47476e;
}

/* Footer Section */

#footer{
    background-color:#102930;
}


#footer a {
       
    text-decoration: none;
    padding: 10px 0;
    margin: 10px;

}

#footer a:hover {
    border-bottom: 2px solid lightblue;
   

}

#footer p{
    font-size: 15px;
    padding-top: 20px;
    color: lightgray;
   
}

.footer-icon{
    width: 25px;
    

}



/* Media Query */


@media (max-width: 1000px){
    .container-fluid{
        padding: 7% 6%;
    }

    #aboutMe .container-fluid{
        padding: 7% 6%;
    }


    #contactMe .container-fluid{
        padding: 7% 6%;
    }


    nav .container-fluid{
        padding: 0 3%;
    }

    .title{
        text-align: center;
        padding-top: 50%;
    }
        
    

    .med-heading{
        font-size: 2rem;
    }

    .skill-row {
        position: relative;
        text-align: center;
        padding: 5% 0;
     
    
    }
    
    .skill1{
        width: 50%;      
        margin: 20px 0;
        border-radius: 15%;
        float: none;
    
    }
    
    .skill2{
        width: 50%;        
        margin: 20px 0;
        border-radius: 15%;
        float: none;
        
    }
    
    p{
        font-size: 1rem;
    }
}